.header{
    padding-top:2vh;
    padding-bottom:2vh;
    background: #e1e9f1;
}

.title{
    color: #076258;
    background:none;
    border:none;
    font-size: 4vh;

    width: 100%;
    text-align: center;


    cursor:pointer;

    -webkit-tap-highlight-color: transparent;


    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */}

.subtitle{
    color: #11a2a2;
    background:none;
    border:none;
    font-size: 2.7vh;

    width: 100%;
    text-align: center;

    cursor:pointer;

    -webkit-tap-highlight-color: transparent;


    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */}